<h1>dashboard confessional</h1>
<p>
  you're
  <%= current_user.name %>
</p>
<p><%= link_to 'new credential', new_credential_path %></p>
<h2>credentials</h2>
<ul>
<% current_user.credentials.each do |cred| %>
  <li><%= cred.name %></li>
<% end %>
</ul>